{% extends 'base.html' %}
{% block title%}Tasks{% endblock title%}
{% block tasks_active %}active{% endblock tasks_active %}
{% block body %}
<div class="container my-3">

    <h1 class="text-center py-5">Here's your To Do List!</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Title</th>
        <th scope="col">Task Description</th>
        <th scope="col">Added on</th>
        <th scope="col">Images</th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{task.taskTitle}}</td>
        <td>{{task.taskDesc}}</td>
        <td>{{task.Time}}</td>
        <td>{{task.taskImg}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock body %}